//- <!DOCTYPE html>
//- html(lang="pl")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
//-     //- script(src="/javascripts/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
//-     title= title
//-   body
//-     .container
//-         .row
//-             .col
//-                 h1 Categories of month     
//-                     a.btn.btn-info(href="/additem") Dodaj artykuł
//-                     if added
//-                         h2 Ostanio dodane #{added.item}
//-         .row        
//-             each item in catNo
//-             .col-3
//-                 h3 #{item.category}     
//-                 a.btn.btn-info(href="/additem") Dodaj artykuł
                


  
    
    