extends templete.pug

block content
    
    if wrongPass
        .row.h-100  
            .col-4.mx-auto.mt-5
                h5.border.border-danger.rounded.text-center.py-2 Invalid Password
    if wrongEmail
        .row.h-100  
            .col-4.mx-auto.mt-5
                h5.border.border-danger.rounded.text-center.py-2 Invalid login e-mail
    if mailSend
        .row.h-100  
            .col-4.mx-auto.mt-5
                h5.border.border-danger.rounded.text-center.py-2 Password reset link was send to your email.

    .row.h-100  
        .col-4.mx-auto.mt-5
            main.border.border-info.rounded.px-3.shadow.border-form
                h4.text-center.mb-3.py-2.border-bottom.border-info.font-weight-bold Login to Your Account
                form.login-form(action='/login', method='POST')            
                    
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text e-mail                          
                        input.form-control(type='email', name='email', placeholder='Enter your e-mail', aria-label='email', aria-describedby='basic-addon1', required)
                            
                            
                    
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text password
                        input.form-control(type='password', name='password', placeholder='Enter your password', aria-label='password', aria-describedby='basic-addon1',required)
                        input(type='hidden', name='_csrf', value=csrfToken)
                    small
                        a(href="/passwordrecover").form-text.text-danger Forget password?                
                    button.btn.mb-3.btn-success.btn-block(type='submit') Login