extends templete.pug

block content
  .row.h-100  
    .col-4.mx-auto.mt-5
        main.border.border-info.rounded.px-3.shadow.border-form
            h4.text-center.mb-3.py-2.border-bottom.border-info.font-weight-bold Password reset
            form.login-form(action='/reset', method='POST')            
                //- .input-group.mb-3
                //-     .input-group-prepend
                //-         span#basic-addon1.input-group-text E-Mail
                //-     input.form-control(type='email', name='email', value=email ,placeholder='Enter your e-mail', aria-label='email', aria-describedby='basic-addon1', disabled)
                .input-group.mb-3
                    .input-group-prepend
                        span#basic-addon1.input-group-text New Password
                    input.form-control(type='password', name='newPassword', placeholder='Enter your new password', aria-label='password', aria-describedby='basic-addon1')
                .input-group.mb-3
                    .input-group-prepend
                        span#basic-addon1.input-group-text Confirm New Password
                    input.form-control(type='password', name='confirmNewPassword', placeholder='Confirm your new password', aria-label='confirmPassword', aria-describedby='basic-addon1')
                    input(type='hidden', name='email', value=email)
                    input(type='hidden', name='resetToken', value=resetToken)
                    input(type='hidden', name='_csrf', value=csrfToken)
                button.btn.mb-3.btn-success(type='submit') Change


