extends templete.pug

block content
    if noUser
        .row.h-100  
            .col-4.mx-auto.mt-5
                h5.border.border-danger.rounded.text-center.py-2 E-mail not registered
    .row.h-100  
        .col-4.mx-auto.mt-5
            main.border.border-info.rounded.px-3.shadow.border-form
                h4.text-center.mb-3.py-2.border-bottom.border-info.font-weight-bold Password recover
                form.login-form(action='/passwordrecover', method='POST') 
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text e-mail                          
                        input.form-control(type='email', name='email', placeholder='Enter your e-mail', aria-label='email', aria-describedby='basic-addon1', required)
                        input(type='hidden', name='_csrf', value=csrfToken)
                    button.btn.mb-3.btn-success.btn-block(type='submit') Reset my password